<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span highlight>{{ post.title | titlecase}}</span>
    </mat-card-title>
    <mat-card-subtitle>{{ userName | username }}</mat-card-subtitle>
    <mat-card-subtitle>{{ post.createdDate | timeAgo }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img
      class="image"
      mat-card-image
      *ngIf="post.imageUrl as imageUrl"
      [src]="imageUrl"
      [alt]="post.title"
    >
    <span class="post-content">{{ post.content | shorten }}</span>
  </mat-card-content>
  <mat-card-actions>
    <app-comment (newComment)="onNewComment($event)" [comments]="post.comments"></app-comment>
  </mat-card-actions>
</mat-card>
